<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>pugb_login</title>
    <script src="http://rescdn.qqmail.com/node/ww/wwopenmng/js/sso/wwLogin-1.0.0.js" type="text/javascript" charset="utf-8"></script>

</head>
<body >
<div id="pugb_login" >pugb_login</div>

<script>
    window.WwLogin({
        "id" : "pugb_login",  //显示二维码的容器id
        "appid" : "wwd62a98323f5856b5",
        "agentid" : "1000002 ",
        "redirect_uri" : "http://en5xhz.natappfree.cc",
        "state" : "3828293919281",
        "href" : "",

    });
</script>

</body>
</html>